/**
 * bbPress Styles
 *
 * @package Zeta
 * @subpackage bbPress
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 General
1.0 Directory
2.0 Topics
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 General
--------------------------------------------------------------*/
.bbp-forums,
.bbp-topics,
.bbp-forums ul,
.bbp-topics ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}

.bbp-forums,
.bbp-topics {
	margin: 1.5em -35px 0;
}

	.bbp-forums ul,
	.bbp-topics ul {
		width: 100%;
		padding: 25px 35px;
	}

	.bbp-body ul:nth-of-type(2n - 1) {
		background-color: #f9f9f9;
	}

		.bbp-forums > li,
		.bbp-topics > li {
			float: left;
			width: 100%;
			margin-bottom: 0;
		}

			.bbp-forums > li li,
			.bbp-topics > li li {
				position: relative;
				float: left;
				padding: 0;
			}

				/* The main column */
				.bbp-header li:first-child,
				.bbp-body   li:first-child {
					width: 100%;
					margin-bottom: 15px;
				}

					.bbp-forums li p:first-child,
					.bbp-topics li p:first-child {
						margin-top: 0;
					}

					.bbp-body li:first-child .bbp-forum-title,
					.bbp-body li:first-child .bbp-topic-permalink {
						font-family: 'Montserrat', Arial, sans-serif;
						font-weight: bold;
						font-size: 1em;
					}

				/* Detail columns */
				.bbp-header li:not(:first-child),
				.bbp-body   li:not(:first-child),
				.bbp-header li:not(:first-child) p,
				.bbp-body   li:not(:first-child) p {
					float: none;
					display: inline;
					padding: 0;
					margin: 0;
				}

					/* Show detail icon */
					.bbp-header li:not(:first-child):before,
					.bbp-body   li:not(:first-child):before {
						font-family: dashicons;
						color: #aaa;
						margin-right: 10px;
					}

						.bbp-body li:not(:first-child):not(:nth-child(2)):before {
							margin-left: 10px;
						}

					.bbp-forums li.bbp-forum-topic-count:before {
						content: '\f488'; /* dashicons-megaphone */
					}

					.bbp-forums li.bbp-forum-reply-count:before,
					.bbp-topics li.bbp-topic-reply-count:before {
						content: '\f125'; /* dashicons-format-chat */
					}

					.bbp-forums li.bbp-forum-freshness:before,
					.bbp-topics li.bbp-topic-freshness:before {
						content: '\f469'; /* dashicons-clock */
						margin-right: 5px;
					}

					.bbp-topics li.bbp-topic-voice-count:before {
						content: '\f110'; /* dashicons-admin-user */
					}

				.bbp-forums .bbp-body li.bbp-forum-freshness p,
				.bbp-topics .bbp-body li.bbp-topic-freshness p {
					margin-right: 5px;
				}

					.bbp-forums .bbp-body li.bbp-forum-freshness img.avatar,
					.bbp-topics .bbp-body li.bbp-topic-freshness img.avatar {
						margin-right: 8px;
					}

			.bbp-header,
			.bbp-footer {
				display: none;
			}

/* #primary{ width: 570px; } */
@media screen and (min-width: 640px) and (max-width: 740px), (min-width: 1002px) {

		.bbp-header {
			display: block;
		}

			.bbp-header ul {
				border-width: 1px 0;
				border-style: dashed;
				border-color: #ddd;
			}

		.bbp-forums > li li,
		.bbp-topics > li li {
			position: relative;
			float: left;
			padding: 0 15px 0 0;
		}

			.bbp-header li:first-child,
			.bbp-body   li:first-child {
				width: 50%;
				margin-bottom: 0;
			}

			.bbp-header li:not(:first-child),
			.bbp-body   li:not(:first-child) {
				display: block;
				float: left;
				padding-right: 15px;
			}

				.bbp-body li:not(:first-child) p {
					display: block;
					margin: 0;
				}

				/* Hide table header titles */
				.bbp-header li:not(:first-child) {
					font-size: 1px;
					letter-spacing: -1px;
					color: transparent;
					text-align: center;
				}

					.bbp-header li:not(:first-child):before {
						font-size: 1.1rem;
						letter-spacing: normal;
						color: #404040;
					}

					.bbp-body li:not(:first-child):before {
						content: ''; /* Hide icon */
					}

					.bbp-body li:not(:first-child):not(:nth-child(2)):before {
						margin: 0;
					}

			.bbp-forums li.bbp-forum-topic-count,
			.bbp-forums li.bbp-forum-reply-count,
			.bbp-topics li.bbp-topic-voice-count,
			.bbp-topics li.bbp-topic-reply-count {
				width: 12%;
			}

			.bbp-forums li.bbp-forum-freshness,
			.bbp-forums li.bbp-topic-freshness {
				width: 26%;
				padding-right: 0;
			}
}
