/**
 * BuddyPress Styles
 *
 * @package Zeta
 * @subpackage BuddyPress
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Members
	1.1 User Profile
	1.2 My Profile
2.0 Groups
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Members
--------------------------------------------------------------*/
.bp-user .bp_members {
}

/*--------------------------------------------------------------
1.1 User Profile
--------------------------------------------------------------*/
.bp-user .bp_members .entry-header {
}

.bp-user #item-header {
	position: absolute;
	top: -100px;
	right: 0;
	width: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	z-index: 100;
}

.bp-user #item-header-avatar a {
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	padding: 5px;
	background-color: #fff;
}

.bp-user #item-header-avatar a,
.bp-user #item-header-avatar img.avatar {
	border-radius: 50%;
}

@media screen and (min-width: 561px) {
	.bp-user #item-header-avatar a {
		width: 160px;
		height: 160px;
	}
}

@media screen and (min-width: 741px) {
	.bp-user #item-header {
		position: fixed;
		top: calc( 81px + 35px );
		right: calc( 58% + 35px );
		width: calc( 42% - 174px - 35px );
		max-width: 160px;
		text-align: center;
	}

	.bp-user #item-header-avatar {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
	}

		.bp-user #item-header-avatar:before {
			content: '';
			display: block;
			padding-top: 100%; /* 1:1 ratio */
		}

	.bp-user #item-header-avatar a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
}

/** WP admin bar -14px height */
@media screen and (min-width: 783px) {
	.bp-user #item-header {
		top: calc( 67px + 35px );
	}
}

@media screen and (min-width: 1120px) {
	.bp-user #item-header {
		right: calc( 640px + 35px );
		width: 160px;
		text-align: center;
	}
}

/*--------------------------------------------------------------
1.1 My Profile
--------------------------------------------------------------*/

.bp-user.my-account #item-header-avatar a:after {
	content: '\f464'; /* dashicons-edit */
	background: rgba(51, 165, 55, 1);
	position: absolute;
	top: calc( 50% - 25px );
	left: calc( 50% - 25px );
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	font: 30px/30px dashicons;
	color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	opacity: 0;
	transition: opacity .2s ease-in;
}

	.bp-user.my-account #item-header-avatar a:hover:after {
		opacity: 1;
	}
