/**
 * BuddyPress Styles
 *
 * @package Zeta
 * @subpackage BuddyPress
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 General
1.0 Navigation
2.0 Items
	2.1 Directories
	2.2 Single item
3.0 Members
	2.1 User Profile
	2.2 My Profile
3.0 Groups
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 General
--------------------------------------------------------------*/
body.buddypress .entry-footer {
	margin: 0;
}

#buddypress #message p:first-child {
	margin-top: 0;
}

/*--------------------------------------------------------------
1.0 Navigation
--------------------------------------------------------------*/
#buddypress .item-list-tabs,
#buddypress .button-nav {
	position: relative;
	float: left;
	width: 100%;
	font-family: 'Montserrat', Arial, sans-serif;
}

#buddypress .item-list-tabs ul,
#buddypress .button-nav {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: .9em;
	background-color: #efefef;
	border: 1px solid #efefef;
}

#buddypress .item-list-tabs ul {
	border-bottom-width: 0;
}

	#buddypress .item-list-tabs ul li,
	#buddypress .button-nav li {
		display: inline-block;
		float: left;
	}

	#buddypress .item-list-tabs ul li.current,
	#buddypress .item-list-tabs ul li.selected,
	#buddypress .button-nav li.current,
	#buddypress .button-nav li.selected {
		background-color: #fff;
	}

	#buddypress .item-list-tabs ul li[role="search"] {
		margin: 0 0 -1px 0;
	}

		#buddypress .item-list-tabs ul li:first-child[role="search"] {
			margin-left: -9px;
		}

		#buddypress .item-list-tabs ul li[role="search"] input[type="text"] {
			padding: 8px 18px;
		}

		#buddypress .item-list-tabs ul li[role="search"] input[type="text"]:not(:focus) {
			border-top: none;
			border-color: #efefef;
			border-right-color: transparent;
			box-shadow: none;
		}

		#buddypress .item-list-tabs ul li[role="search"] input[type="text"]:focus {
			margin-top: -1px;
		}

	#buddypress .item-list-tabs ul li.filter {
		float: right;
		padding: 0 0 0 10px;
		margin: -1px -9px -1px 0;
		color: #b0b0b0;
	}

		#buddypress .item-list-tabs ul li.filter select {
			width: auto;
			padding: 9px 10px 10px;
			margin-left: 5px;
		}

		/* Blend in with the environment */
		#buddypress .item-list-tabs ul li.filter select:not(:focus) {
			border-color: #efefef;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

	#buddypress .item-list-tabs ul li a,
	#buddypress .button-nav li a {
		float: left;
		position: relative;
		padding: 8px 18px;
		text-decoration: none;
		color: #b0b0b0;
	}

		#buddypress .item-list-tabs ul li:not(.current):not(.selected):hover a,
		#buddypress .button-nav li:not(.current):not(.selected):hover a {
			background-color: #f4f4f4;
			color: #707070;
		}

		#buddypress .item-list-tabs ul li.current a,
		#buddypress .item-list-tabs ul li.selected a,
		#buddypress .button-nav li.current a,
		#buddypress .button-nav li.selected a {
			color: #404040;
		}

			#buddypress .item-list-tabs ul li a span.count {
				display: none; /* Hide counts */
			}

#buddypress .item-list-tabs#subnav {
	margin-bottom: 71px;
}

	#buddypress .item-list-tabs#subnav:after {
		content: '';
		position: absolute;
		bottom: -35px;
		left: -35px;
		width: calc( 100% + 70px );
		border-bottom: 1px dashed #ddd;
	}

	#buddypress .item-list-tabs#subnav ul {
		padding: 0 8px;
		background-color: transparent;
		border-width: 0 1px 1px;
	}

		#buddypress .item-list-tabs#subnav ul li a {
			padding: 8px 10px;
		}

			#buddypress .item-list-tabs#subnav ul li:not(.current):hover a {
				background-color: #fff;
			}

/*--------------------------------------------------------------
2.0 Items
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 Directories
--------------------------------------------------------------*/
#buddypress .dir-search {
	position: relative;
	z-index: 1;
}

	#buddypress .dir-search input {
		margin-bottom: -1px;
	}

	#buddypress .dir-search input:not(:focus) {
		border-color: #efefef;
	}

#buddypress .pagination {
	font-family: 'Montserrat', Arial, sans-serif;
}

	#buddypress .pagination .pag-count {
		float: left;
	}

	#buddypress .pagination .pagination-links {
		float: right;
	}

		#buddypress .pagination .pagination-links .page-numbers {
			text-decoration: none;
			color: #404040;
		}

			#buddypress .pagination .pagination-links .page-numbers:hover {
				color: #999;
			}

		#buddypress .pagination .pagination-links .page-numbers.current {
			position: relative;
			display: inline-block;
			width: 26px;
			height: 26px;
			color: #fff;
			margin-top: -2.5px;
			padding: 2px 0;
			text-align: center;
			z-index: 0;
		}

			#buddypress .pagination .pagination-links .page-numbers.current:before {
				content: '';
				position: absolute;
				top: 2.5px;
				left: calc( 50% - 13px );
				width: 26px;
				height: 26px;
				background-color: rgba(51, 165, 55, 1);
				border-radius: 50%;
				z-index: -1;
			}

/*--------------------------------------------------------------
2.2 Single item
--------------------------------------------------------------*/
body.buddypress .entry-header {
	float: left;
	width: 100%;
	text-align: center;
}

	body.buddypress .entry-header .entry-title {
		margin: 0 0 35px 0;
	}

#buddypress #item-header {
	float: left;
	width: 100%;
	padding: 0;
	font-size: 15px;
}

#buddypress #item-header-avatar {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	z-index: 10;
}

	#buddypress #item-header-avatar a {
		position: relative;
		display: inline-block;
		width: 130px;
		height: 130px;
		padding: 5px;
		background-color: #fff;
	}

	#buddypress #item-header-avatar a,
	#buddypress #item-header-avatar img.avatar {
		border-radius: 50%;
	}

#buddypress #item-header-content {
	float: left;
	text-align: left;
}

	#buddypress #item-header-content .activity {
		display: none;
	}

#buddypress .item-list {
	list-style: none;
	padding: 0;
	margin: 0 0 1.5em 0;
}

	#buddypress .item-list li {
		position: relative;
		float: left;
		width: 100%;
		padding: 50px 15px 15px;
		margin: 50px 0 1em;
		border: 1px solid #ddd;
		font-size: 0.9em;
	}

	/* Two column list items, at least 180px width each */
	@media screen and (min-width: 455px) and (max-width: 720px), (min-width: 773px) {
		#buddypress .item-list li {
			width: 49%;
		}

			#buddypress .item-list li:nth-child(2n - 1) {
				margin-right: 2%;
			}

			#buddypress .item-list li:nth-child(2n + 1) {
				clear: both;
			}
	}

	/* Three column list items, at least 180px width each */
	@media screen and (min-width: 720px) and (max-width: 740px), (min-width: 1060px) {

		/* Correct 2-column */

		#buddypress .item-list li:nth-child(2n - 1) {
			margin-right: 0;
		}

		#buddypress .item-list li:nth-child(2n + 1) {
			clear: none; 
		}

		/* Define 3-column */

		#buddypress .item-list li {
			width: 32%;
		}

			#buddypress .item-list li:nth-child(3n - 1) {
				margin-left: 2%;
				margin-right: 2%;
			}

			#buddypress .item-list li:nth-child(3n + 1) {
				clear: both;
			}

		/* Account for unsymmetric list endings (rows of 3) */

		/* Missing 2: move center > right */
		#buddypress .item-list li:nth-child(3n - 1):nth-last-child(3n) { 
			margin-left: 0;
			margin-right: 0;
		}

		/* Missing 2: move left > center */
		#buddypress .item-list li:nth-child(3n - 2):nth-last-child(3n - 2) { 
			clear: none;
			margin-left: 2%;
			margin-right: 2%;
		}

		/* Missing 2: move right > left */
		#buddypress .item-list li:nth-child(3n):nth-last-child(3n - 1) { 
			clear: both;
		}

		#buddypress .item-list li:nth-last-child(3n - 2):nth-child(1), /* Missing 2: first 1/2 */
		#buddypress .item-list li:nth-last-child(2):nth-child(3n),
		#buddypress .item-list li:nth-last-child(2):nth-child(3n - 2) {
			width: 49%;
			clear: both;
			margin-left: 0;
			margin-right: 2%;
		}

		#buddypress .item-list li:nth-last-child(3n):nth-child(2), /* Missing 2: second 1/2 */
		#buddypress .item-list li:nth-last-child(1):nth-child(3n - 2),
		#buddypress .item-list li:nth-last-child(1):nth-child(3n - 1) {
			width: 49%;
			clear: none; 
			margin-left: 0;
			margin-right: 0;
		}
	}

			#buddypress .item-list li .item-avatar {
				position: absolute;
				top: -50px;
				left: 0;
				right: 0;
				text-align: center;
			}

				#buddypress .item-list li .item-avatar a {
					display: inline-block;
					padding: 10px;
					background-color: #fff;
					border-radius: 50%
				}

					#buddypress .item-list li .item-avatar a img {
						float: left;
						border-radius: 50%
					}

			#buddypress .item-list li .item-title {
				text-align: center;
				margin-bottom: 1em;
			}

			#buddypress .item-list li .item-meta {
				word-wrap: break-word;
			}

@media screen and (min-width: 561px) {
	#buddypress #item-header-avatar a {
		width: 160px;
		height: 160px;
	}
}

@media screen and (min-width: 741px) {
	body.buddypress .entry-header {
		padding-left: 25px;
		text-align: left;
	}

	#buddypress #item-header-avatar {
		top: 35px;
		left: -110px;
		width: auto;
		margin: 0;
	}

	#buddypress #item-header-content {
		width: 100%;
	}
}

@media screen and (min-width: 1120px) {
/*
	#buddypress #item-header {
		position: fixed;
		top: calc( 35px + 35px );
		right: calc( 640px + 35px );
		width: 160px;
		padding: 0;
		color: #fff;
	}

	body.admin-bar #buddypress #item-header {
		top: calc( 81px + 35px );
	}

	#buddypress #item-header-avatar {
		position: relative;
		left: auto;
		width: 100%;
		margin: 0 0 20px 0;
	}

		#buddypress #item-header-avatar + #item-header-content {
			padding-left: 0;
			min-height: auto;
		}
*/
}

#buddypress .profile,
#buddypress .groups,
#buddypress .dir-list {
	float: left;
	width: 100%;
}

	#buddypress .bp-widget,
	#buddypress .bp-widget > *,
	#buddypress .profile   > *,
	#buddypress .profile   > * > *,
	#buddypress .groups    > *,
	#buddypress .dir-list  > * {
		float: left;
		width: 100%;
		margin: 0 0 1.5em 0;
	}

		#buddypress .bp-widget:last-child,
		#buddypress .bp-widget > *:last-child,
		#buddypress .profile   > *:last-child,
		#buddypress .profile   > * > *:last-child,
		#buddypress .groups    > *:last-child,
		#buddypress .dir-list  > *:last-child {
			margin-bottom: 0;
		}

/*--------------------------------------------------------------
3.0 Members
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 User Profile
--------------------------------------------------------------*/
body.bp-user .entry-content {
	margin-top: 0;
}

#buddypress table td {
	padding-right: 15px;
}

#buddypress table td:last-child {
	padding-right: 0;
}

#buddypress table td.label {
	width: 40%;
}

#buddypress table td.data {
	width: 60%;
}

	#buddypress .notification-settings th.icon,
	#buddypress .notification-settings td:first-child {
		display: none;
	}

	#buddypress .notification-settings td:nth-child(2):before {
		margin-left: -35px;
	}

	#buddypress .notification-settings th.yes,
	#buddypress .notification-settings td.yes,
	#buddypress .notification-settings th.no,
	#buddypress .notification-settings td.no {
		width: 15%;
		text-align: center;
		padding-right: 0;
	}

/*--------------------------------------------------------------
3.2 My Profile
--------------------------------------------------------------*/

body.my-account #item-header-avatar a:after {
	content: '\f464'; /* dashicons-edit */
	background: rgba(51, 165, 55, 1);
	position: absolute;
	top: calc( 50% - 25px );
	left: calc( 50% - 25px );
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	font: 30px/30px dashicons;
	color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	opacity: 0;
	-webkit-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
}

	body.my-account #item-header-avatar a:hover:after {
		opacity: 1;
	}

	body.my-account #item-header-avatar a:active:after {
		background: #333;
	}

/*--------------------------------------------------------------
3.3 Profile Edit
--------------------------------------------------------------*/
body.profile-edit .editfield {
	width: 100%;
}

	body.profile-edit .editfield label:first-child {
		display: block;
		float: left;
		width: 40%;
		padding-right: 15px;
	}

	body.profile-edit .editfield label ~ * {
		display: block;
		float: left;
		width: 60%;
		margin-left: 40%;
	}

		body.profile-edit .editfield label ~ *:not(:last-child) {
			margin-bottom: 5px;
		}

	body.profile-edit .editfield label:first-child + * {
		margin-left: 0;
	}

		body.profile-edit .editfield .radio label + div label {
			float: left;
			width: 100%;
		}

		body.profile-edit .editfield .checkbox input,
		body.profile-edit .editfield .radio input {
			margin-right: 10px;
		}

	body.profile-edit .editfield .datebox select {
		padding: 6px;
		margin-bottom: 5px;
		margin-left: 0;
	}

		body.profile-edit .editfield .datebox select:nth-of-type(1) {
			width: 13%;
		}

		body.profile-edit .editfield .datebox select:nth-of-type(2) {
			width: 25%;
			margin-left: 2%;
			margin-right: 2%;
		}

		body.profile-edit .editfield .datebox select:nth-of-type(3) {
			width: 18%;
		}

	body.profile-edit .editfield .description {
		margin-top: 0;
		font-size: 0.9em;
		font-style: italic;
		color: #999;
	}
