/**
 * Contact Card styles
 *
 * @package Zeta
 * @subpackage Contact Card
 */

.contact-card {
	margin: 1.5em auto 0px;
	text-align: center;
}

.contact-card .contact-body {
	display: inline-block;
	width: 100%;
	max-width: 438px;
	min-height: 104px;
	padding: 10px;
	text-align: left;
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
}

.contact-card .contact-header {
	position: relative;
}

.contact-card .contact-body .contact-photo {
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	width: 84px;
	height: 84px;
	padding: 2px;
	background: #fff;
	border-radius: 50%;
}

	.contact-card.avatar-left .contact-body .contact-photo {
		left: 0px;
		right: auto;
	}

	.contact-card .contact-body .contact-photo img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

.contact-card .contact-body .contact-title {
	margin: .25em 0px 0px;
}

.contact-card .contact-details {
	font-size: .9em;
}

.contact-card .contact-title,
.contact-card .contact-details {
	padding: 0px 104px 0px 15px;
}

.contact-card.avatar-left .contact-title,
.contact-card.avatar-left .contact-details {
	padding: 0px 15px 0px 104px;
}

	.contact-card .contact-details dl {
		margin-top: .5em;
	}

	.contact-card .detail {
		display: inline-block;
		width: 100%;
	}

	.contact-card .detail a:hover {
		border-bottom: 1px solid;
	}

		.contact-card .contact-details dt {
			display: inline-block;
			width: 20%;
			padding-right: 15px;
		}

		.contact-card .contact-details dd {
			display: inline-block;
			margin: 0px;
			word-break: break-word;
		}

.widget .contact-card .contact-body {
	min-height: 54px;
}

body:not(.front-page) .widget-area .widget .contact-card .contact-body,
.footer-area .widget .contact-card .contact-body {
	max-width: none;
	min-height: 54px;
	padding: 0px;
	background: none;
	border: 0px;
}

	.widget .contact-card .contact-body .contact-photo {
		top: -1px;
		width: 54px;
		height: 54px;
	}

		.widget .contact-card .contact-body .contact-photo img {
			width: 50px;
			height: 50px;
		}

	.widget .contact-card:not(.avatar-left) .contact-title,
	.widget .contact-card:not(.avatar-left) .contact-details {
		padding-right: 69px;
	}

	.widget .contact-card.avatar-left .contact-title,
	.widget .contact-card.avatar-left .contact-details {
		padding-left: 69px;
	}
